<div layout="row">
  <div
    flex="60"
    flex-sm="40"
    hide-lg
  >
    <div
    ng-if="!utils.isTango"
    ui-ace="{
      useWrapMode: true,
      theme:'tomorrow_night',
      mode:'javascript',
      firstLineNumber: 1,
      onLoad: aceLoaded,
      onChange: aceChanged,
      require: ['ace/ext/language_tools'],
      advanced: {
        enableSnippets: true,
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: true
      }
    }"
    ng-model="editorText"
    >
    this is here right
    </div>
    <div layout="row" layout-align="space-around center">
      <md-checkbox
        ng-model="data.vimMode"
        ng-change="updateEditor()"
        aria-label="Vim Mode"
      >
          Vim Mode: {{ data.vimMode  }}
      </md-checkbox>
      <md-button ng-click="runScript()"
        class="md-raised md-primary"
      >
        Run Script
      </md-button>
    </div>
  </div>
  <div
    flex="40"
    flex-sm="100"
    layout-margin
    layout-fill
    layout-padding
    layout-align="center start"
  >
    <select
      id="videoSource"
      class="form-control"
    >
    </select>
    <div
      id="video-container"
    >
      <video
        id="camera-stream"
        width="500"
        autoplay
      />
    </div>
  </div>
</div>
