<div layout="row">
  <div
    flex="60"
    flex-sm="40"
    hide-lg
  >
    <div
    ng-if="!utils.isTango"
    ui-ace="{
      useWrapMode: true,
      theme:'tomorrow_night',
      mode:'javascript',
      firstLineNumber: 1,
      onLoad: aceLoaded,
      onChange: aceChanged,
      require: ['ace/ext/language_tools'],
      advanced: {
        enableSnippets: true,
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: true
      }
    }"
    ng-model="editorText"
    >
    this is here right
    </div>
    <div
      layout="row"
      layout-align="space-around center"
    >
      <select
        id="videoSource"
        class="form-control"
      >
      </select>
      <md-checkbox
        ng-model="vimMode"
        ng-click="toggleVimMode()"
        aria-label="Vim Mode"
      >
          Vim Mode
      </md-checkbox>
      <md-button
        ng-click="runScript()"
        class="md-raised md-primary"
      >
        Run Script
      </md-button>

    </div>
  </div>
  <div
    flex="40"
    flex-sm="100"
    layout-margin
    layout-fill
    layout-padding
    layout-align="center start"
  >
    <div
        id="three-container"
    >
    </div>
    <div
      id="video-container"
    >
      <video
        id="camera-stream"
        width="500"
        autoplay
      />
    </div>
  </div>
</div>
