<md-dialog aria-label="Setup">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Setup</md-subheader>
    <md-text-float label="Client Hash" ng-model="user.lastName" class="long"> </md-text-float>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="connect()" class="md-primary">
      Connect
    </md-button>
  </div>
</md-dialog>

